* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*use google fonts motserrat Regular 400 (check public/index.html) */
  font-family: 'Montserrat', sans-serif;
}

.Container {
  display: flex;
}

